body {
    margin: 0;
    font-family: comic sans ms, sans-serif;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}
.logo {
    color: white;
    font-size: 1.5rem;
}
.menu {
    display: none;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
}
.menu a {
    color: white;
    padding: 1em;
    text-decoration: none;
    display: block;
}
.hamburger {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
@media (min-width: 768px) {
    .menu {
        display: flex;
        position: static;
        flex-direction: row;
        background: none;
        width: auto;
    }
    .hamburger {
        display: none;
    }
}